.DS_Store
node_modules
*.pyc
__pycache__/

#Ignore unused folders
/backend/data/coursera_reviews
/backend/data/ONET grad job data
/backend/data/Scrapers and files to be scraped
/backend/data/Students_information
/backend/data/unused
